/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
  
}

.row{
    margin: 10px 80px;
}

.row:nth-child(2){
    margin-top: 80px;
}
/* Utilities */

.container{
    max-width: 1200px;
    margin: 0 auto;
    
}



article.card{
    height: 500px;
    width: calc(1200px / 3 - 62px);
    margin: 3px;
    
    background-color: #ebebeb;
    background-position: center;
    background-size: cover;
    
    display: inline-block;
    position: relative;
}





/* Foto dei prodotti */

.t-shirt{
    background-image: url("../img/1.webp");
}

.dress{
    background-image: url("../img/2.webp");
}
.tailleur{
    background-image: url("../img/3.webp");
}
.row:nth-child(2) .t-shirt{
    background-image: url('../img/4.webp');
}
.row:nth-child(2) .dress{
    background-image: url('../img/5.webp');
}
.row:nth-child(2) .tailleur{
    background-image: url('../img/6.webp');
}

/* hover delle immagini dei prodotti */

.t-shirt:hover{
    background-image: url('../img/1b.webp');
}
.dress:hover{
    background-image: url('../img/2b.webp');
}
.tailleur:hover{
    background-image: url('../img/3b.webp');
}
.row:nth-child(2) .t-shirt:hover{
    background-image: url('../img/4b.webp');
}
.row:nth-child(2) .dress:hover{
    background-image: url('../img/5b.webp');
}
.row:nth-child(2) .tailleur:hover{
    background-image: url('../img/6b.webp');
}
/* descrizione del prodotto */
.description{
    position: absolute;
    top:500px;
}

.description span:nth-child(2){
    font-weight:bold;
}
.cost{
    color:#ff0059;
    font-weight:bold;
}
.previous-price{
    text-decoration:line-through;
    color:#cdcdcd;
}

.heart{
    font-size: 1.2em;
   padding: 6px 10px;

   color:black;
   background-color: white;

   position: absolute;
   top: 10px;
   right: 0;
}

.heart:hover{
   color:#e91748;
}

.sales{
    color:#fff;
    background-color:#e91748;
    padding: 2px 4px;

    position: absolute;
    bottom: 8px;
}

.sustainability{
    color: #fff;
    background-color:#00875a;
    padding: 2px 4px;

    position: absolute;
    bottom: 8px;
    left: 38px;
}

.size-on-image span{
    font-size: 12px;
    font-weight: bolder;
}


